[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
scipy = "*"
plotly = "*"
matplotlib = "*"
ipykernel = "*"
ipywidgets = "*"
requests = "*"
numpy = "*"
numba = "*"
nbformat = "*"
vectorbtpro = {extras = ["base-no-talib"], git = "https://github.com/polakowo/vectorbt.pro.git"}
optuna = "*"
pandas-ta = "*"
websocket-client = "*"
pycryptodome = "*"
openpyxl = "*"
pyarrow = "*"
mypy-extensions = "*"
humanize = "*"
scikit-learn = "*"
schedule = "*"
statsmodels = "*"
pycaret = "*"
dateparser = "*"
seaborn = "*"
kneed = "*"
tqdm = "*"
ccxt = "*"
legitindicators = "*"
alpaca-py = "*"

[dev-packages]

[requires]
python_version = "3.9"
